@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.license-text {
    width: 100%;      /* Adjust this as needed, could be less than 100% depending on your layout */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  @media (max-width: 600px) {
    .license-text {
      width: 50%;  /* Adjust this based on your design needs */
    }
  }
  